<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437318263366-d1mmebdvsft2r4n6ro04pccbds95m070.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437318263366-d1mmebdvsft2r4n6ro04pccbds95m070</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>437318263366-jk1cj9tdl725bv448bboms5j98ue9or8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjrNcrNJWhLAZBbb078brjsSN4We0i_Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>437318263366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wellbay.health</string>
	<key>PROJECT_ID</key>
	<string>wellbay-fb3e4</string>
	<key>STORAGE_BUCKET</key>
	<string>wellbay-fb3e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437318263366:ios:619e9a9eb772d45b8ba047</string>
	<key>DATABASE_URL</key>
	<string>https://wellbay-fb3e4-default-rtdb.firebaseio.com</string>
</dict>
</plist>